$green : #94c01f;
$purp : #44205f;

body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

#main{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $green;
}

#filler{
    width: 640px;
    height: 400px;
    // background-color: $purp;
}

h1{
    font-family: "intro", sans-serif;
}